{% extends "base_home.html" %}

{% block content %}
  <div class="viagens-disponiveis">
    <h1>Bem-vindo à Agência de Viagens</h1>
    <a href="{% url "trip:pagamento" %}">pagar</a>
    <hr>
    <div class="row">
      {% for viagem in viagens_disponiveis %}
        <div class="col-md-4">
          <div class="card">
            {% if viagem.cover %}
                <img class="rounded p-1" src="{{ viagem.cover.url }}" alt="{{ viagem.titulo }}">
            {% else %}
                <p>Nenhuma imagem disponível</p>
            {% endif %}
            <div class="container">
              <div class="d-flex justify-content-between align-items-center mt-2">
                <span class="fs-5"><b>{{ viagem.titulo }}</b></span>
                <span class='price fs-6'>R$ {{ viagem.preco }}</span>
              </div>
              <p>Check-In: {{ viagem.check_in_data|date:'d/M/Y' }}</p>
              <p>Check-Out: {{ viagem.check_out_data|date:'d/M/Y' }}</p>
              <p>{{ viagem.descricao }}</p>
              <button class="btn btn-primary btn-md mb-3 float-end" onclick="window.location.href='{% url 'user:vincular_viagem' viagem.id %}'">Cadastrar</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
