{% extends "base.html" %}

{% block content %}

<div class="main-content" id="mainContent">
  <h2>Listar Categorias</h2>  
  <table class="table">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for categoria in categorias %}
        <tr>
          <td>{{ categoria.titulo }}</td>
          <td>{{ categoria.is_active }}</td>
          <td>

            <a href="{% url "trip:atualizar_categoria" categoria.id %}">
              <button class="btn btn-sm btn-primary">Editar</button>
            </a>
            
            <a href="{% url "trip:excluir_categoria" categoria.id %}">
              <button class="btn btn-sm btn-danger">Excluir</button>
            </a>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
