{% extends 'base.html' %}

{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<div class="main-content" id="mainContent">
  <div class="d-flex align-items-center">
    <h2 class="me-2">Clientes</h2>
    <a href="{% url 'user:cadastrar_cliente' %}">
      <button class="btn btn-sm btn-primary">Cadastrar</button>
    </a>
  </div>

    
  <!-- Tabela de Usuários -->
  <div class="table-container mt-3">
    <table class="table  text-center" style="margin-bottom: 0;">
      <thead class="table-dark">
        <tr>
          <th>Nome de cliente</th>
          <th>Ultimo nome</th>
          <th>Status</th>
          <th>Data de Registro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.user.first_name }}</td>
            <td>{{ cliente.user.last_name }}</td>
            <td>
              {% if cliente.user.is_active %}
                <i class="fa-solid fa-circle-check text-success"></i>
              {% else %}
                <i class="fa-solid fa-circle-xmark text-danger"></i>
              {% endif %}
            </td>
            <td>{{ cliente.user.date_joined|date:"d/m/Y H:i:s" }}</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary">
                Editar
              </button>
              <button type="button" class="btn btn-sm btn-danger">
                Excluir
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- End Tabela de Usuários -->
</div>

{% endblock content %}