/* base_static/css/styles.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.page-background {
    background-color: #fff3e8;
}

/* Sidebar style */
.sidebar {
    height: 100vh;
    width: 220px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292929;
    transition: left 0.3s ease;
}

.logo-container {
    border-bottom: 1px solid white;
    width: 100%;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 8px;
    text-align: left;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
    text-decoration: none;
    color: #fff;
}

/* Tabelas de Listagem */
.table-container {
    /* border: 1px solid red; */
    border-radius: 8px; /* Define o raio da borda */
    overflow: hidden; /* Garante que a tabela não ultrapasse os limites do contêiner */
}

/* Formulários */
.form-container {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 15px;
    max-height: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.descricao {
    max-height: 130px; /* Defina a altura máxima desejada */
    /* Outros estilos opcionais */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
}

.left-form {
    width: 45%;
}

.right-form {
    width: 45%;
}

/* Cards de Viagens */
.price {
    font-weight: bold;
    color: green;
}

/* Main content style */
.main-content {
    transition: margin-left 0.3s ease;
}

/* .sidebar.active {
    left: 0;
}

.main-content.active {
    margin-left: 250px;
} */
