/* base_static/css/styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Sidebar style */
.sidebar {
    height: 100vh;
    width: 220px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292929;
    padding-top: 20px;
    transition: left 0.3s ease;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 8px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
    text-decoration: none;
    color: #fff;
}

/* Main content style */
.main-content {
    transition: margin-left 0.3s ease;
}

/* .sidebar.active {
    left: 0;
}

.main-content.active {
    margin-left: 250px;
} */
