{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li
        {% if message.tags %} 
          class="{{ message.tags }}"
        {% endif %}>
        {{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Excluir Categoria</h2>
<p>Você tem certeza que deseja excluir a categoria "{{ categoria.titulo }}"?</p>

<form method="post" action="">
  {% csrf_token %}
  <button type="submit">Confirmar Exclusão</button>
</form>

<a href="{% url 'trip:listar_categorias' %}">Cancelar</a>

{% endblock content %}
