{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card" style="height: 150px;">
                <div class="card-title">Total de Clientes Ativos</div>
                <div class="card-content">
                    {{ clientes }}            
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="height: 150px;">
                <div class="card-title">Total de Viagens Ativos</div>
                <div class="card-content">
                    {{ viagens }}            
                </div>
            </div>
        </div>
        
    </div>
</div>       
{% endblock %}