{% extends "base.html" %}

{% block content %}

  <div class="main-content" id="mainContent">
    <h2>Editar Perfil</h2>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post" action="{% url 'user:editar_usuario' user_id=usuario.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Salvar Alterações</button>
    </form>

  </div>

{% endblock content %}
