{% extends 'base.html' %}

{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<div class="main-content" id="mainContent">
  <div class="d-flex align-items-center">
    <h2 class="me-2">Usuários</h2>
    <a href="{% url 'user:criar_usuario' %}">
      <button class="btn btn-sm btn-primary">Cadastrar</button>
    </a>
  </div>

  <!-- Modal "Editar" -->
  {% for usuario in usuarios %}
  <div class="modal fade" id="editModal{{ usuario.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ usuario.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel{{ usuario.id }}">Editar Usuário</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form method="POST" action="{% url 'user:editar_usuario' user_id=usuario.id %}">
              {% csrf_token %}
              <!-- Adicione campos de edição aqui -->
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ usuario.username }}">
              </div>
              <button type="submit" class="btn btn-primary">Salvar Alterações</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- End Modal "Editar" -->

  <!-- Modal "Excluir" -->
  {% for usuario in usuarios %}
  <div class="modal fade" id="deleteModal{{ usuario.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ usuario.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel{{ usuario.id }}">Exclusão de Usuário</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form method="POST" action="{% url 'user:excluir_usuario' user_id=usuario.id %}">
              {% csrf_token %}
              <p>Tem certeza de que deseja excluir {{ usuario.username }}??</p>
              <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- End Modal "Excluir" -->

  <!-- Tabela de Usuários -->
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Nome de Usuário</th>
        <th>Email</th>
        <th>Permissões</th>
        <th>Status</th>
        <th>Data de Registro</th>
        <th>Último Login</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.email }}</td>
          <td>
            {% if usuario.groups.all %}
                {% for group in usuario.groups.all %}
                    {{ group.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                Sem grupo
            {% endif %}
          </td>
          <td>
            {% if usuario.is_active %}
              <i class="fa-solid fa-circle-check text-success"></i>
            {% else %}
              <i class="fa-solid fa-circle-xmark text-danger"></i>
            {% endif %}
          </td>
          <td>{{ usuario.date_joined|date:"d/m/Y H:i:s" }}</td>
          <td>{{ usuario.last_login|date:"d/m/Y H:i:s" }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ usuario.id }}">
              Editar
            </button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ usuario.id }}">
              Excluir
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End Tabela de Usuários -->
</div>

{% endblock content %}
